td, li{
    list-style: none;
    margin: 0.2rem;
    padding: 0.3rem;
    color: rgb(119, 0, 0);
}

th, td{
    border-bottom: 1px solid black;
}

header{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: goldenrod;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(22, 22, 114);
    background-color: rgb(236, 255, 243);
    border-radius: 0.4rem;
    padding: 0.3rem;
}

a:hover{
    color: rgb(255, 144, 8);
    padding: 0.4rem;
}

body{
    background-color: rgb(220, 222, 222);
}

div{
    margin: 0.2rem;
    font-size: 1.3rem;
    color: rgb(0, 128, 34);
}

p{
    color: rgb(47, 93, 143);
}

h1{
    color: rgb(85, 48, 8);
    text-align: center;
}

table{
    display: flex;
    justify-content: center;
}
