{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a href="{% url 'index' %}">Home</a></p>
<p><a href="{% url 'list-habits' %}">Back to all habits</a></p>
<hr>
<h1>{{ habit.name }}</h1>
<p>Target: {{ habit.target_number }} {{ habit.unit_of_measure }} a day.</p>
{% if records %}
<p>Average per day: {{ average.result__avg|floatformat:2 }} {{ habit.unit_of_measure }}</p>
{% if average.result__avg > habit.target_number %}
<p><strong>Good job! Consider increasing your goal target!</strong></p>
{% else %}
<p><strong>Keep working! You can do this!</strong></p>
{% endif %}
<p><strong>History:</strong></p>
<table>
    <tr>
        <th>Date</th>
        <th>Result</th>
        <th>Unit of Measure</th>
        <th>Completion %</th>
        <th>Goal Met?</th>
    </tr>
    {% for record in records %}
    <tr>
        {% if record.result >= habit.target_number %}
        <td><a href="{% url 'record-detail' record.pk %}">{{ record.entry_date }}</a></td>
        <td align="right">{{ record }}</td>
        <td>{{ habit.unit_of_measure }}</td>
        <td><strong>{{ record.percentage }}%</strong></td>
        <td><strong>Goal Met!</strong></td>
        {% else %}
        <td><a href="{% url 'record-detail' record.pk %}">{{ record.entry_date }}</a></td>
        <td align="right">{{ record }}</td>
        <td>{{ habit.unit_of_measure }}</td>
        <td><strong>{{ record.percentage }}%</strong></td>
        <td><strong>Goal Not Met!</strong></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No Records Found</p>
{% endif %}


<hr>
<div>
    <a href="{% url 'edit-habit' habit.pk %}">Edit habit</a>
    <a href="{% url 'delete-habit' habit.pk %}">Delete habit</a>
    <hr>
    <p>Trying to get this test link to open date as url</p>
    <p><a href="">Test</a></p>
</div>
{% endblock %}