{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a href="{% url 'index' %}">Home</a></p>
<p><a href="{% url 'list-habits' %}">Back to all habits</a></p>
<hr>
<h1>{{ habit.name }}</h1>
<p>Target: {{ habit.target_number }} {{ habit.unit_of_measure }} a day.</p>
<ul>
    {% for record in records %}
        <li><a href="{% url 'record-detail' record.pk %}">{{ record.entry_date }}</a></li>
    {% endfor %}
</ul>

<p>Put history here?</p>
<hr>
<p><a href="{% url 'list-records' %}">See Records</a></p>
<div>
    <a href="{% url 'edit-habit' habit.pk %}">Edit habit</a>
    <a href="{% url 'delete-habit' habit.pk %}">Delete habit</a>
</div>
{% endblock %}