{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>All Habits</h1>
<ul>
{% for habit in habits %}
    <li><a href="{% url 'habit-detail' habit.pk %}">{{ habit.name }}</a>
    <strong>&emsp;Goal: {{ habit.target_number }} {{ habit.unit_of_measure }} a day&emsp;</strong>
    <a href="{% url 'add-record' habit.pk %}">Enter a daily record</a>
    </li>
    <br>
{% endfor %}
</ul>
<hr>
<a href="{% url 'add-habit' %}">Add habit</a>
<p><a href="{% url 'list-records' %}">See All Records</a></p>
{% endblock %}